.movie-card {
  list-style-type: none;
  width: 400px;
  margin: 20px;
  border-radius: 6px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.movie-card-inner {
  display: flex;
  margin-bottom: 6px;
}

.votes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.up-vote-button {
  width: 35px;
  height: 35px;
  background-color: white;
  border: none;
  padding: 0;
}

.vote-img {
  height: 35px;
  width: 35px;
}

.down-vote-img {
  height: 10px;
  width: 20px;
}

.votes {
  text-align: center;
}

.movie-poster {
  height: auto;
  width: 120px;
  margin-left: 8px;
  margin-right: 8px;
}

.movie-title {
}

.movie-details {
  font-size: 12px;
  margin: 6px 0px;
}

.watch-trailer-button {
  background-color: #4287f5;
  color: white;
  border: none;
  height: 25px;
  font-weight: 600;
  font-family: 'Roboto';
}
