.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.navbar-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-info-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
